NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=crypto_payment_platform
DB_SSL=false

SEPOLIA_RPC_URL=
SEPOLIA_STABLECOIN_CONTRACT_ADDRESS=
BTC_TESTNET_API_BASE_URL=https://mempool.space/testnet/api
